<!DOCTYPE html>
<html>
	
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.2/jquery.mobile-1.1.2.min.css" />
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.2/jquery.mobile-1.1.2.min.js"></script>
	</head>

	<body>
		
		<div data-role="page">
			
			<div data-role="header" data-position="fixed">
				<div class="ui-grid-b">
					<div class="ui-block-a">
						<a href="/stop" data-role="button" data-icon="arrow-l" data-iconpos="left" rel="external" data-theme="b" data-inline="true">Stop</a>
					</div>
					<div class="ui-block-b">
						
					</div>
					<div class="ui-block-c">
						{% if selected.name %}
							<h1>{{ selected.name }}</h1>
						{% endif %}
						<div data-role="controlgroup" data-type="horizontal" style="float: right">
							<a href="/prev" data-role="button" rel="external" data-theme="b" data-inline="true" data-icon="arrow-l" data-iconpos="left">Previous</a>
							<a href="/next" data-role="button" rel="external" data-theme="b" data-inline="true" data-icon="arrow-r" data-iconpos="right">Next</a>
						</div>
					</div>
				</div>

			</div>
			
			<div data-role="content">
				
				<ul data-role="listview" data-count-theme="c" data-inset="true">
				    {% for channel in channels %}
				    <li data-theme="{% if channel.id == selected.id %}b{% else %}a{% endif %}">
				    	<a id="{{channel.id}}" href="/play?channel={{channel.id}}" rel="external">{{channel.name}}</a>
				    </li>
				    {% endfor %}
				</ul>

			</div>

			
		</div>



	</body>

</html>